@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0; /* Asegura que no haya margen en el body */
}

/* Ajusta el root para que el contenido no se sobreponga al NavBar */
#root {
  background-color: #ffffff; /* Fondo blanco para el contenido */
  padding-top: 16px; /* Ajusta este valor según la altura del NavBar */
}

/* Estilo básico para el body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fondo base */
}
