@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0; /* Asegura que no haya margen en el body */
}

/* Ajusta el root para que el contenido no se sobreponga al NavBar */
#root {
  background-color: white;
  min-height: 100vh;
}

.dark #root {
  background-color: #1a202c;
}

/* Estilo básico para el body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fondo base */
}
