/* Aplicar un gradiente suave para el logo */
.text-gradient {
  background: linear-gradient(90deg, #aaa, #4b5563); /* Gradiente gris oscuro */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Ajustar el tamaño del texto a uno más sutil */
.text-large {
  font-size: 1.25rem; /* Tamaño más reducido, cerca de 28px */
  font-weight: bold;  /* Negrita para asegurar la legibilidad */
}

/* Posicionar el logo dentro del NavBar para que sea más integrado */
.navbar-center .title {
  background-color: transparent; /* Sin fondo */
  position: static; /* Lo mantenemos alineado dentro del NavBar */
}
